*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    border: 1px solid;
    width: 100%;
    height: auto;
}

.container .location{
    background-color: #800403;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
}

.container .location div{
    display: flex;
    align-items: center;
}

.container .location div img{
    width: 35px;
    height: 35px;
}

.container .location div p{
    font-size: 18px;
    text-shadow: 1px 1px black;
}

.container .location .login_admin{
    padding: 8px 15px;
    border: none;
    background: none;
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px black;
}


/*school logo*/
.container .school_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 12px;
}

.container .school_logo img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

/*navbar*/
.container .navbar{
    background-color: #800403;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.container .navbar ul li{
    list-style: none;
    display: inline-block;
    padding-inline: 5px;
    margin-top: 30px;
    padding-bottom:8px;
}

.container .navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px black;
    border-right: 2px white solid;
    padding: 10px;
    padding-top: 30px;
    
}

.container .navbar ul li a::after{
    content: "";
    height: 20px;
    position: absolute;
    transform: translateX(-80px);
    border: none;
    border-bottom: 2px solid white;
    width: 10px;
    visibility: hidden;
    margin-top: 3px;
    transition: width 0.4s ease-in-out;
}

.container .navbar ul li a.about_us::after{
    width: 10px;
    transform: translateX(-70px);
}

.container .navbar ul li a.home::after{
    transform: translateX(-45px);
    width: 10px;
    visibility: hidden;
}

.container .navbar ul li a:hover:not(.contactusnav):after{
    width: 80px;
    visibility: visible;
}

.container .navbar ul li a.about_us:hover::after{
    width: 70px;
    visibility: visible;
}

.container .navbar ul li a.contactusnav::after{
    visibility: visible;
    width: 80px;
}

.container .navbar ul li a.home:hover::after{
    width: 45px;
    visibility: visible;
}

.container .navbar div{
    display: flex;
    align-items: center;
    padding: 2px 5px;
}

.container .navbar div img{
    position: absolute;
    width: 20px;
    height: 20px;
    filter:invert(100);
    margin-left: 5px;
}

.container .navbar div input{
    height: 35px;
    width: 300px;
    padding: 3px 30px;
    border: thin solid white;
    background-color: #800403;
    border-radius: 15px;
    color: white;
    font-size: 18px;
    padding-right: 10px;
    outline: none;

}

/*maintop*/
.container .maintop1{
    background-image: linear-gradient(rgba(255, 255, 255, 0.153),rgba(255, 255, 255, 0.2)), url(assets/bg02.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 70vh;
    padding-top: 25vh;
    padding-left: 50px;
}

.container .maintop1 h1{
    font-size: 65px;
    text-align: center;
}

.container .maintop1 h2{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
}


/*filloutmsg*/
.container .getintouch{
    display: flex;
    justify-content: center;
    background-color:aliceblue;
    padding: 10vh 0;
}

.container .getintouch div{
    width: 40%;
    height: auto;
    padding: 10px 0;
}

.container .getintouch .div01{
    padding-left: 40px;
}

.container .getintouch .div01 p{
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px white;
}

.container .getintouch .div01 input{
    width: 50%;
    height: 30px;
    text-align: left;
    padding-left: 10px;
    outline: none;
    border: thin solid black;
}

.container .getintouch .div01 input.msg{
    height: 200px;
    text-orientation: sideways;
    text-align:justify;
}

.container .getintouch .div01 button{
    display: block;
    padding: 12px 25px;
    font-size: 18px;
    color: white;
    text-shadow: 1px 1px black;
    background-color: #a50000;
    border: thin solid black;
    margin-top: 30px;
    border-radius: 10px;
}

.container .getintouch .div02{
    padding-left: 10px;
    width: 50%;
}

.container .getintouch .div02 h3{
    font-size: 23px;
    color: #a50000;
    text-shadow: 1px 1px black;
    margin-left: 20px;
}

.container .getintouch .div02 h1{
    font-size: 40px;
    text-shadow: 1px 1px white;
}

.container .getintouch .div02 p{
    width: 90%;
    font-size: 18px;
}

.container .getintouch .div02 .contactsicons{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    border: none;
}

.container .getintouch .div02 .contactsicons div h3{
    font-size: 21px;
    color: black;
    font-weight: bold;
}

.container .getintouch .div02 .contactsicons div h3 span{
    font-weight: normal;
    font-size: 18px;

}

.container .getintouch .div02 .contactsicons div{
    display: flex;
    border: none;
}

.container .getintouch .div02 .contactsicons img{
    width: 60px;
    height: 60px;
}


/*sutdyhere*/
.container .map{
    width: 100%;
    height: 50vh;

}

.container .map img{
    width: inherit;
    height: inherit;
}



/*footer*/
.container .footer{
    background-color: #800403;
    color: white;
    text-align: center;
    padding: 15px 0;
}

.container .footer div img{
    width: 150px;
    height: 150px;
}

.container .footer h1{
    font-size: 32px;
}

.container .footer h2{
    font-size: 28px;
    margin-bottom: 20px;
}

.container .footer h3{
    font-size: 20px;
    margin-bottom: 20px;
}

.container .footer p{
    font-size: 18px;
    font-weight: bold;
    color: white;
}


