*{
    margin: 0;
    padding: 0;
}

/*Login modal*/
.loginmodal{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    background-image: url(assets/schoolbg02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.loginmodal .container_login{
    width: 45%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.30);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.loginmodal .container_login .leftside{
    width: 45%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginmodal .container_login .leftside h2{
    color: white;
    text-shadow: 1px 1px black;
    text-align: center;
    font-size: 32px;
}

.loginmodal .container_login .leftside img{
    width: 90%;
    height: 200px;
}

.loginmodal .container_login .filluphere{
    width: 45%;
    height: 380px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 8px black;
    border-radius: 30px;
}

.loginmodal .container_login .filluphere::before{
    content: "";
    width: 50px;
    height: 420px;
    position: absolute;
    z-index: 5;
    background-image: linear-gradient();
}




.loginmodal .container_login .filluphere .botfillup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginmodal .container_login .filluphere .botfillup div{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: white;
    border: none;
}

.loginmodal .container_login .filluphere .botfillup div input{
    height: 30px;
    outline: none;
    padding-left: 6px;
    border: none;
    border-bottom: thin solid #800303;
    margin-left: 6px;
    background-color: rgba(128, 128, 128, 0.295);
    text-wrap:nowrap;
}

.loginmodal .container_login .filluphere .botfillup button{
    padding: 8px 30px;
    background-color: #800303;
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px black;
    outline: none;
}

.loginmodal .container_login .filluphere .topfillup{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 20px;
    border: none;
}

.loginmodal .container_login .filluphere .topfillup img{
    width: 100px;
    height: 100px;
}